@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Hind:wght@300;400;500;600;700&family=Noto+Sans:wght@400;700&family=Raleway:wght@300;400;700;900&family=Roboto+Slab:wght@100;300;400;500;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Comfortaa';
    font-family: 'Hind', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* 

HOME

*/

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#intro__img {
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
}


.intro__heading {
    margin-bottom: 16px;
    font-size: 26px;
    color: #000;
}

.intro__para {
    max-width: 500px;
    margin-bottom: 16px;
    color: #000;
    font-size: 18px;
}

.color__text {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.service__img {
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    margin: 10px;
    transition: all 300ms ease;
}

.service__img:hover {
    transform: scale(0.95);
    opacity: 90%;
}

.services__home {
    display: flex;
    justify-content: space-between;
}

.service__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.service__heading {
    color: #000;
    padding-bottom: 16px;
}

.book__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.book__para {
    max-width: 400px;
    text-align: center;
    line-height: 1.8;
    font-size: 17px;
    font-weight: 500;
    color: #000;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn__home {
    font-size: 18px;
    margin-top: 20px;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: var(--peach);
    border: 3px solid var(--dark-yellow);
    cursor: pointer;
}

#home__contact {
    text-decoration: underline;
    color: #fff;
}

.home__services--btn {
    background-color: var(--peach);
    font-size: 18px;
}

/*

PROMOTIONS

*/

.promotions__container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotion {
    margin-bottom: 50px;
}

.promotion__info h1 {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}

.promotion__info h4 {
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.promotion__info h5 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.promotion__info p {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    line-height: 2.2;
}

.promotion__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotions__btn {
    margin: 20px;
    background-color: var(--peach);
}

/*

BLOG

*/

.blog__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.blog__container h1 {
    color: #000;
    font-weight: 500;
}

.blog__container h2 {
    color: #000;
    font-weight: 400;
}

.blog__img {
    margin-bottom: 50px;
}

.blog__heading {
    margin-bottom: 50px;
}

#blog__input {
    width: 200px;
    height: 40px;
    margin-right: 16px;
    border: 3px solid black;
    border-radius: 3px;
    background-color: rgb(250, 238, 223);
    font-size: 12px;
    padding: 4px 6px;
}

#blog__input:focus {
    outline: none;
}

#blog__input--ml {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.blog__btn {
    background-color: var(--peach);
}


/* 

CONTACT

*/

.labelInput__container {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.labelInput__container label {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.labelInput__container input {
    height: 40px;
    padding: 8px;
    font-size: 14px; 
}

.labelInput__container input:focus {
    outline: none;
}

.labelInput__container textarea {
    padding: 8px;
    font-size: 14px;
}

.labelInput__container textarea:focus {
    outline: none;
}

.contactForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactForm__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.contactForm__container h1 {
    color: #000;
    margin-bottom: 44px;
}

#textArea {
    margin: 0 auto;
}

.contactPage__btn {
    max-width: 200px;
    width: 100%;
    background-color: var(--peach);
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
