@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Hind:wght@300;400;500;600;700&family=Noto+Sans:wght@400;700&family=Raleway:wght@300;400;700;900&family=Roboto+Slab:wght@100;300;400;500;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Comfortaa';
    font-family: 'Hind', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* 

SKIN NEEDLING

*/

.skinNeedling__container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}

.skinNeedling__container h1 {
    font-size: 36px;
    color: #000;
    margin-bottom: 25px;
}

.heading__para--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.heading__para--container p {
    color: #000;
    max-width: 700px;
}

.heading__para--container h3 {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.skinNeedling__btn {
    background-color: var(--peach);
    margin-top: 25px;
}


/* 

FACIALS

*/

.facials__container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facials__container h1 {
    font-size: 36px;
    color: #000;
    margin-bottom: 25px;
}

.facial__outline--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 75px;
}

.facial__outline--container p {
    max-width: 700px;
}

.facial__outline--container h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.facial__heading {
    text-decoration: underline;
}

.facial__option {
    margin-top: 20px;
}

.facial__option h3 {
    margin-bottom: 8px;
}

.bold__text {
    font-weight: 600;
    font-size: 18px;
}


/* 

CHEMICAL PEELS

*/

.chemicalPeels__container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chemicalPeels__container h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.chemicalPeel__outline--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 75px;
}

.chemicalPeel__outline--container p {
    max-width: 700px;
}

.chemicalPeel__outline--container h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.chemicalPeel__outline--container h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: underline;
}

.chemicalPeel__option {
    margin-top: 20px;
}

.packages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chemicalPeel__option h3 {
    font-weight: 600;
    font-size: 20px;
}

/* 

LED LIGHT THERAPY

*/

.lightTherapy__container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lightTherapy__container h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.heading__para {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 75px;
}

.heading__para p {
    max-width: 700px;
}

.heading__para h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline;
}


/* 

PRICE LIST

*/

.priceList__container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceList__container h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.treatment__price--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 75px;
}

.treatment__price--container h3 {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 24px;
    margin-bottom: 10px;
}

.treatment__price--container h4 {
    text-decoration: underline;
    font-size: 17px;
    margin-top: 10px;
}

.priceList__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 75px;
}

.priceList__info p {
    max-width: 700px;
}

.bold__text--priceList {
    font-weight: 600;
}

.skinNeedling__prices {
    line-height: 1.7;
    font-size: 17px;
    margin-bottom: 10px;
}

.skinNeedling__packages {
    line-height: 1.7;
    font-size: 17px;
}

.priceList__link {
    text-decoration: none;
    color: #000;
}

.facial__option--heading {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.priceList__prices {
    line-height: 1.7;
    font-size: 17px;
    margin-bottom: 10px;
}

.priceList__packages {
    line-height: 1.7;
    font-size: 17px;
}
