@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Hind:wght@300;400;500;600;700&family=Noto+Sans:wght@400;700&family=Raleway:wght@300;400;700;900&family=Roboto+Slab:wght@100;300;400;500;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Comfortaa';
    font-family: 'Hind', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}


body {
    --pink: #f7d3cf;
    --dark-yellow: #ffde59;
    --peach: #dfaa8f;
    --orange: #f8be83;
    --yellow: #f4d040;
    background-color: var(--pink);
}